"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    telemetryConsent: "no"
  editor:
    showInvisibles: true
  "exception-reporting":
    userId: "aaf25ef3-576c-439f-a8f1-0add06ea348f"
  nuclide:
    installRecommendedPackages: true
    "nuclide-home":
      showHome: false
  "tree-view":
    hideVcsIgnoredFiles: true
